.ViewByCat {
	display: flex;
	float: left;
	flex-direction: column;
}

/*.expenseInfoByCat {
	display: flex;
	float: left;
	margin-top: 25px;
	background-color: yellow;

}*/

.ViewByCat p {
	display: block;
	float: left;
	margin: 0;
}