@import url('https://fonts.googleapis.com/css?family=Montserrat|Overpass&display=swap" rel="stylesheet')


.message {
	font-size: 12px;
	color: red;
}

.noMessage {
	min-height: 15px;
}

.sortArrows {
	max-height: 15px;
}


.entryBar {
	background-color: lightgrey;
}

.entrySquare {
	display: inline-block;
	border: 2px solid black;
	margin-left: 0;
	margin-right: 0;
	padding-right: 12px;
	padding-left: 12px;
}

.dateBox {
	min-width: 85px
}


td button {
	width: 100%;
	height: 100%;
}

table  {
	font-family: 'Montserrat', sans-serif;
	border: 2px solid #4F7849;
	background-color: #EEEEEE;
	width: 90%;
	text-align: center;
	border-collapse: collapse;
	margin: 20px;
}
table  td, table  th {
  	border: 1px solid #4F7849;
  	padding: 3px 2px;
}
table  tbody td {
  	font-size: 19px;
  	color: #4F7849;
}
table  tr:nth-child(even) {
  	background: #CEE0CC;
}
/*table  tfoot {
  font-size: 21px;
  color: #FFFFFF;
  background: #4F7849;
  background: -moz-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: -webkit-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  border-top: 1px solid #444444;
}
table  tfoot td {
  font-size: 21px;
}*/