input {
	min-width: 200px
}

.logForm {
	margin: 16px;
}

.message {
	font-size: 12px;
	color: red;
}

.noMessage {
	min-height: 15px;
}

.button {
	min-width: 60px;
}

header {
	background-image: url("./dash2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-width: 100%;
	min-height: 600px;
}