

input {
	min-width: 210px
}

.message {
	font-size: 12px;
	color: red;
}

.noMessage {
	min-height: 15px;
}

.logReg {
	width: 70%;
	position: relative;
	top: -120px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 8px 20px 0 grey;
	padding-bottom: 40px;
	border-radius: 20px;

}

.logReg h3 {
	padding-top: 40px;
}

.formInput {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 30px;
	align-items: baseline;
}

h3 {
	margin: 30px;
	letter-spacing: 6px;
	font-size: 22px;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Darker Grotesque', sans-serif;
	background-image: linear-gradient(to bottom, transparent 55%, white),
					  url("./dash2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-width: 100%;
	min-height: 650px;

}

h1	{
	letter-spacing: 15px;
	font-size: 55px;
	color: white;
	text-shadow: 3px 2px 3.5px black,
				 -2px -1.5px 3.5px black;
	margin-bottom: 5px;
	padding-bottom: 20px;
}

h2 {
	font-size: 25px;
	color: white;
	text-shadow: 1px 1px 3px black;
	font-weight: 100px;
	margin-top: 5px;
	margin-bottom: 20px;
	flex-shrink: 1;
}

p {
	margin-left: 30px;
	margin-right: 6px;
	margin-top: 20px;	
}

/*.formInput button {
	margin: 20px;
	min-width: 80px;
}
*/
.logRegSwap {
	margin: 25px;
}

.loginReg button {
	display: block;
	min-width: 70px;
	margin: 0 auto;
	background:  #99e6e6;
	color: white;
	border-radius: 7px;
	padding: 5px;
	font-weight: bold;

}
